body
{
	max-width: 100%;
	/*max-height: 100%;*/
	background-color: black;
	color: white;
	box-sizing: border-box;
	

}

#boxLayout
{
	display: block;
	background-color:black;
}


#navBar
{
	background-color: #6109ba;
	color: black;
	font-weight: bold;
	list-style-type: none;
	font-size: 30px;
}


#navBar li{
	display: inline;
	padding: 10px;
}

#intBox
{
	display: inline-block;
	width: 100%;
	/*background-color: lightgreen;*/
}


#visuals
{
	float: left;
	max-width: 30%;
	margin-left: 5%;
}

#loc
{
	font-size:20px;
	font-style: italic;
	max-width: 30%;
	float:right;
	margin-right:5%;
	
}



#loc img
{	
	height: 350px;
}

#showBox
{
	background-color: grey;
}
#showbox a:link
{
	color: red;
	}
#showbox a:hover
{
	color: violet;
}
#showbox a:visited
{
	color: lightgreen;
}